.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62.5%;
  @include respond(tab-land) {
    width: 70%;
  }
  @include respond(tab) {
    width: 90%;
  }
  @include respond(phone) {
    width: 95%;
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__input {
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 400;
    width: 100%;
    color: white;
    border: 1px solid $input-border-primary-color;
    border-radius: 6rem;
    padding: 1.5rem 6.5rem;
    background-color: rgba(0, 0, 0, 0.44);
    margin-left: -1.5rem;
    order: 2;

    &:focus {
      outline: none;
    }
    &::placeholder {
      text-transform: uppercase;
      color: $input-border-primary-color;
    }
    &--show-suggest {
      border-top-left-radius: 3rem;
      border-top-right-radius: 3rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      @include respond(phone) {
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }
    }
    @include respond(tab-land) {
      font-size: 2.5rem;
    }
    @include respond(tab) {
      font-size: 2.5rem;
    }
    @include respond(phone) {
      font-size: 1.5rem;
      padding: 1rem 4.5rem;
      margin-left: -0.45rem;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    order: 1;
    border: none;
    outline: none;
    transform: translateX(75%);
    margin-right: -1.5rem;
    @include respond(phone) {
      width: 2rem;
      height: 2rem;
    }
  }
  &__icon {
    fill: white;
    width: 3rem;
    height: 3rem;
    
  }

  &__suggest {
    display: none;
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.44);
    width: 100%;
    max-height: 30vh;
    top: 100%;
    // left: 2.7%;
    border: 1px solid $input-border-primary-color;
    border-top: none;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    scrollbar-color: #636fac transparent;
    scrollbar-width: thin;
    overflow-y: scroll;
    @include respond(phone) {
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
    &--show {
      display: block;
    }
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
  &__item {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: 1.3rem;
    &:not(:last-child) {
      border-bottom: 1px solid $input-border-primary-color;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-decoration: none;
    &--artist {
      img {
        border-radius: 100%;
      }
    }
  }
  &__img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    // Sample
    // @include box-shadow(){
    //   width: 5rem;
    // }
    @include respond(phone) {
      width: 4.5rem;
      height: 4.5rem;
    }
  }
  &__name {
    margin-bottom: 0.5rem;
    color: #fff;
  }
  &__type {
    color: $input-border-primary-color;
  }
}
