$btn-bg-primary-color: #1d0d3c;
$albumView-bg-primary-color: #636fac;
$text-primary-color: #ffffff;
$text-dark-color: #000;
$btn-text-hover-color: #e38aa4;
$body-bg-primary-color: #1d0d3c;
$menuView-cross-hover-color: #e38aa4;
$menuView-link-hover-color: #636fac;
$boder-bottom-color: #707070;
$input-border-primary-color: #636fac;
$menuView-bg-primary-color: #707070;
