{% extends 'onbeats/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    onBeats > Artists
{% endblock %}
{% block main %}
    <section class="artists">
        {% for artist in artists %}
            <div class="artistView">
                <img
                        class="artistView__profile"
                        src="{% thumbnail artist.profile 160x0 %}"
                        alt="{{ artist.name }}"
                />
                <img
                        class="artistView__bg"
                        src="{% thumbnail artist.profile 240x0 %}"
                        alt="{{ artist.name }}"
                />
                <h2 class="artistView__name">{{ artist.name }}</h2>
                <a href="{% url 'onbeats:get_artist' artist.slug %}" class="artistView__btn btn btn--primary">Show</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}